a {
    text-decoration: none!important;
    color: black!important;
}
.header{
   color: black;
   align-items: center;
   padding: 0;
}

.header_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_item {
    padding: 10px 15px;
    margin: 3px;
    font-size: 25px;
    border: 100%; 
}

.header_button:hover {
    border-radius:10px 3px;
    background-color: rgb(251, 219, 175);
}