.cards-item
{
    width: 95%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 2%;


}
.sliders{
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 30px;

}
.card-item {
    width: 30%;
    padding-bottom: 20px;
    margin-left: 1%;
    background-color: white;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 3px 3px 10px;

}
.carousel-item{
    text-align: center;
    align-items: center;

}
.carousel-item > img{
    width: 50% !important;
    border-radius: 5px;
    box-shadow: 1px 1px 10px;
    margin-left: 25%;
    height: 450px;
    background-color: white !important;
}

.cards-detail
{
    width: 100%;
    height: 1000px;
    padding-top: 25px;
    text-align: center;



}
.card-item-deteil {
    width: 50%;
    margin-left: 25%;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 10px;
}

.card-item-deteil > img{
    width: 50% !important;
}
